<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - SongReWriter</title>
        {% else %}
        <title>SongReWriter</title>
        {% endif %}
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='favicon.ico') }}" width="32" height="32" alt="SongReWriter">
            </a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>